@model EmployeeDto
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />
<div>
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />

    <a asp-action="Update" asp-route-id="@ViewData["id"]" class="btn btn-primary mt-4">Update</a>
    <a asp-action="Index" class="btn btn-light mt-4">Back To List</a>
</div>
